@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
    <style>
        body {
            padding-top: 20px;
        }

        .footer {
            padding-top: 40px;
            padding-bottom: 40px;
            margin-top: 40px;
            border-top: 1px solid #eee;
            text-align: center; /* 置中對齊 */
        }

        .navbar {
            background-image: linear-gradient(to bottom, #f7f7f7 0%, #eee 100%);
            border: 1px solid #e5e5e5;
        }

        .section-container {
            margin-top: 20px;
        }

        .jumbotron {
            text-align: center;
            background-color: transparent;
        }

        @media (min-width: 768px) {
            .navbar-nav {
                display: -ms-flexbox;
                display: flex;
            }

            .navbar-nav .nav-item {
                -ms-flex: 1 0 auto;
                flex: 1 0 auto;
            }
        }
